<div class="league-overview">

    <div class="league-index-gravatar">

    <a class="b-link-fade b-animate-go" href="<%= league_path(league) %> ">
        <%= avatar_for(league, "large", 'league-index-gravatar', "150", nil) %>

        <div class="b-wrapper">
            <h4 class="b-from-left b-animate b-delay03" style=" color: black"> <%= league.name %> </h4>

            <p class="b-from-right b-animate b-delay03"> </p>
        </div>
    </a>
    </div>

    <div class="league-info">
        <h3><%= link_to league.name, league %></h3>
        <table style="width: 500px" >
            <tr>
                <td style="width: 250px">
                    # of games: <%=league.games.count %> <%= link_to 'Expand', expand_league_games_path(league), remote: true, id: "mini_games_link"%>
                </td>
                <td style="width: 30px"></td>
                <td style="width: 250px">
                    # of users: <%=league.users.count %> <%= link_to 'Expand', expand_league_users_path(league), remote: true, id: "mini_users_link"%>
                </td>
            </tr>
            <tr>
                <td class="mini-league-table" id="mini_league_games_<%=league.id%>"></td>
                <td style="width: 30px;"></td>
                <td class="mini-league-table" id="mini_league_users_<%=league.id%>"></td>
            </tr>
        </table>
        <p>Date created: <%= time_tag league.created_at, pubdate: true%> </p>
    </div>
    <div style="clear: both"></div>

</div>



