<div class="league-overview">

    <div class="gravatar">

    <a class="b-link-fade b-animate-go" href="<%= league_path(league) %> ">
        <%= gravatar_for(current_user, {size: 150}) %>

        <div class="b-wrapper">
            <h4 class="b-from-left b-animate b-delay03" style=" color: black"> <%= league.name %> </h4>

            <p class="b-from-right b-animate b-delay03"> </p>
        </div>
    </a>
    </div>

    <div class="league-info">
        <h3><%= link_to league.name, league %></h3>
        <p># of games: <%=league.games.count %> <%= link_to 'Expand', expand_league_games_path(league), remote: true%></p>
        <p># of users: <%=league.users.count %> <%= link_to 'Expand', expand_league_games_path(league), remote: true%></p>
        <p>Date created: <%= time_tag league.created_at, pubdate: true%> </p>
    </div>
    <div style="clear: both"></div>

</div>



