    <div class="row">
        <div class="span6 offset3 input-form">
            <h1> <%= @league.name%> >> Add User </h1>

            <% if flash[:alert] %>
                <div id="error_explanation"><%= flash[:alert] %></div>
            <% end %>

            <%= form_tag add_user_save_path do %>

                <p>
                    <%= label_tag "User email" %>
                    <%= text_field_tag :email %>
                </p>

                <%= submit_tag "Add user", class: "btn btn-large btn-primary btn-danger" %>
            <% end %>

        </div>
    </div>
