<div class='league-form margin-top'>
    <%= form_for(@league) do |f| %>
        <% if @league.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

                <ul>
                    <% @league.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <h2> League Settings </h2>

        <div class="input-append">
            <a class="btn btn-small" onclick="$('input[id=lefile]').click();"> Add Photo <i class="icon-camera"></i></a>
        </div>

        <div class="post-picture">
            <img id="img_prev" src="#" alt="your image" style="display: none" />
            <div class="center"> <%= link_to "X", "#", onclick: "removePhoto()", class: "img_prev_del" %> </div>
        </div>

        <%= f.file_field :picture , class: "display-none", id: "lefile", onchange: "readURL(this)"%>


        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>

        <p style="width: 300px">
            <%= label :league_user, :admin %>
            <%= collection_select :league_user, :admin_id, @league_users, :user_id, :username %>
        </p>

        <div class="end-league-box">
            <p></p>
            <%= link_to 'End this League', end_league_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: "btn btn-small btn-primary btn-danger margin-left"} %>
        </div>

        <div>
            <%= f.submit "Save", class: "btn btn-small btn-primary btn-danger" %>
            <%= link_to 'Cancel', league_path, class: "btn btn-small btn-primary btn-danger" %>
        </div>
        <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>


<% end %>

</div>