<div class='league-form margin-top'>
    <%= form_for(@league) do |f| %>
        <% if @league.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@league.errors.count, "error") %> prohibited this league from being saved:</h2>

                <ul>
                    <% @league.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <h2> League Settings </h2>

        <p>
            <%= f.label :name %>
            <%= f.text_field :name %>
        </p>

        <div class="margin-bottom photo-div">
                <%= image_tag @league.picture.large_avatar.url.to_s, id: "img_prev" %>
        </div>
        <div class="input-append">
            <a class="btn btn-small" onclick="$('input[id=lefile]').click();"> Add/Change Photo <i class="icon-camera"></i></a>
        </div>

        <img id="img_prev" src="#" alt="your image" style="display: none"/>

        <%= f.file_field :picture, class: "display-none", id: "lefile", onchange: "readURL(this)" %>

        <p style="width: 300px">
            <%= label :league_user, :admin %>
            <%= collection_select :league_user, :admin_id, @league_users, :user_id, :username %>
        </p>

        <div class="danger-box">
            <div>Danger zone</div>
            <%= link_to 'End this League', end_league_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: "btn btn-small btn-primary btn-danger margin-left"} %>
            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
        </div>

        <div class="form-btns">
            <%= f.submit "Save", class: "btn btn-small btn-primary btn-danger" %>
            <%= link_to 'Cancel', league_path, class: "btn btn-small btn-primary btn-danger" %>
        </div>


    <% end %>

</div>