<li class="comment-form">
    <%= form_for([userpost, Comment.new], remote: true) do |f| %>

        <div>
            <div class="comment-gravatar">
                <%= link_to avatar_for(current_user, 'thumb', nil, "32X32", nil), current_user %>
            </div>
            <span style="width: 88%">
                <div class="input-group">
                    <%= f.text_field :data, placeholder: "Write comment here" %>
                    <a class="btn input-group-addon" onclick="$('#userpost_<%=userpost.id%>').find('input[id=lefile]').click();"><span class="glyphicon glyphicon-camera"></span></a>
                </div>
            </span>
        </div>

        <div class="post-extras">
            <%= file_field_tag :picture , class: "display-none", id: "lefile", onchange: "addPhoto(this, '#userpost_#{userpost.id}')"%>

            <div class="post-picture">
                <img id="img_prev" src="#dummy" alt="your image" style="display: none" />
                <div class="center"> <%= link_to "X", "#", onclick: "removePhoto()", class: "img_prev_del" %> </div>
            </div>
        </div>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :userpost_id, value: userpost.id%>


    <% end %>
</li>