<div class="modal-body ">
    <div class="row">
        <div class="col-md-8 modal-image">
            <%= image_tag @post.photo.picture.url.to_s, {class: "img-responsive"} %>

        </div>
        <div class="col-md-4 modal-meta">
            <div class="modal-meta-top">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div>
                    <div class="img-poster clearfix">
                        <%= link_to avatar_for(@post.user, 'medium', nil, '32X32', nil), @post.user %>
                        <strong><%= link_to @post.user.name, @post.user %></strong>
                        <span><%= time_ago_in_words @post.created_at %> ago</span>
                    </div>
                    <div class="post-content">
                        <%= @post.data %>
                    </div>
                    <div class="float-overflow">
                        <span class=" feed-item-link" id="dislike_count"> <%= @post.negative_likes %></span><span class="glyphicon glyphicon-thumbs-down feed-item-link"></span>
                        <span class=" feed-item-link" id="like_count"><%= @post.positive_likes %>  </span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>

                        <span id="like_links">
                        <% if has_liked_userpost(@post) %>
                            <%= has_liked_link %>
                        <% else %>
                            <%= link_to "Dislike", likes_path(like: 0, userpost_id: @post.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "dislike_link" %>
                                <%= link_to "Like", likes_path(like: 1, userpost_id: @post.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "like_link" %>
                        <% end %>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
