<li class="comment-form">
    <%= form_for(Comment.new, remote: true) do |f| %>

        <div>
            <div>
                <%= link_to image_tag(current_user.picture.small_avatar.url.to_s, size: "32X32", class: 'comment-gravatar'), current_user %>

            </div>
            <%= f.text_field :data, placeholder: "Write comment here" %>
            <i class="icon-camera"></i>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :userpost_id, value: userpost_id%>


    <% end %>
</li>