<li id="comment_<%= comment.id %>">
    <div class="comment-gravatar">
        <%= link_to avatar_for(comment.user, 'thumb', '32X32', nil, nil), comment.user %>
    </div>
    <% if comment.photo.present? %>
        <div>
            <p><%= link_to comment.user.name, comment.user %></p>
        </div>
        <div class="feed-item-attachment">
            <%= link_to (image_tag comment.photo.picture.url.to_s), ajax_view_comment_photo_url(comment), {class: "attachment-wrapper", remote: true, 'data-toggle' => 'modal', 'data-target' => '#photo-lightbox'} %>
            <div id="photo-lightbox" class="modal fade" role="img" aria-labelledby="photoLightbox" aria-hidden="true">
                <div class=" img-modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

            </div>
        </div>
        <div>
            <p class="image-caption"><%= comment.data %></p>
        </div>
    <% else %>
        <div>
            <p><%= link_to comment.user.name, comment.user %>- <%= comment.data %></p>
        </div>
    <% end %>
    <div class="feed-item-footer">
        <% if modal %>
            <p class="feed-item-text inline"><%= time_ago_in_words(comment.created_at, locale: :en_abbrev) %></p>
        <% else %>
            <p class="feed-item-text inline">Posted <%= time_ago_in_words(comment.created_at) %> ago.</p>
        <% end %>

        <div class="inline">
            <% if current_user?(comment.user) %>
                <%= link_to "", userpost_comment_path(id: comment.id, userpost_id: comment.userpost.id), method: :delete,
                            data: {confirm: "You sure?"},
                            title: "delete post",
                            class: "glyphicon glyphicon-trash feed-item-link" %>
            <% end %>

            <span class=" feed-item-link" id="dislike_count"> <%= comment.negative_likes %></span><span class="glyphicon glyphicon-thumbs-down feed-item-link"></span>
            <span class=" feed-item-link" id="like_count"><%= comment.positive_likes %>  </span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>

            <span id="like_links">

            <% if has_liked_comment(comment) %>
                <%= has_liked_link %>
            <% else %>
                <%= link_to "Dislike", likes_path(like: 0, comment_id: comment.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "dislike_link" %>
                    <%= link_to "Like", likes_path(like: 1, comment_id: comment.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "like_link" %>
            <% end %>
            </span>


        </div>
    </div>
</li>