<li class="comment-form">
    <%= form_for([userpost, Comment.new], remote: true) do |f| %>

        <div>
            <div>
                <%= link_to image_tag(current_user.picture.thumb.url.to_s, size: "32X32", class: 'comment-gravatar'), current_user %>
            </div>
            <span style="width: 88%">
                <div class="input-group">
                    <%= f.text_field :data, placeholder: "Write comment here" %>
                    <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-camera"></span></span>
                </div>
            </span>
        </div>

        <div class="post-extras">
            <%= f.file_field :picture , class: "display-none", id: "lefile", onchange: "addPhoto(this, '#userpost_#{userpost.id}')"%>
        </div>

        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :userpost_id, value: userpost.id%>


    <% end %>
</li>