<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>


<div class="row">
    <div class="col-md-6 col-md-offset-3 user-form">

        <%= form_for(@user, id: "user-form") do |f| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

                <div>
                    <h3>Edit User</h3>
                </div>

                <%= f.label :name %><br>
                <%= f.text_field :name %>

            <%= f.label :picture, "Profile picture" %>

            <div class="margin-bottom" id="user-form-pic">
                    <%= image_tag @user.picture.large_avatar.url.to_s, id: "img_prev" %>
            </div>
            <div class="input-append">
                <a class="btn btn-small" onclick="$('input[id=lefile]').click();"> Add/Change Photo <i class="icon-camera"></i></a>
            </div>

            <%= f.file_field :picture, class: "display-none", id: "lefile", onchange: "addPhoto(this, '#user-form-pic')" %>

                <%= f.label :email %><br>
                <%= f.text_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password %>

                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation %><br>

            <div class="form-btns">
                <%= f.submit "Save", class: "btn btn-large btn-primary btn-danger" %>
                <%= link_to "Cancel", :back, class: "btn btn-primary btn-danger" %>
            </div>
        <% end %>
    </div>
</div>
