<% provide(:title, "Edit user") %>
<h1>Update your profile</h1>


<div class="row">
    <div class="col-md-6 col-md-offset-3 user-form">

        <%= form_for(@user, id: "user-form", html: {multipart: true}) do |f| %>
            <% if @user.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

                    <ul>
                        <% @user.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

                <div>
                    <h3>Edit User</h3>
                </div>

                <%= f.label :name %><br>
                <%= f.text_field :name %>

            <%= f.label :photo, "Profile picture" %>

            <div style="width:100px; height:100px; overflow:hidden">
                <%= avatar_for(@user, 'large', nil, nil, "img_prev") %>
            </div>
            <div class="input-append">
                <a class="btn btn-sm" onclick="$('input[id=lefile]').click();"> Add/Change Photo <span class="glyphicon glyhpicon-camera"></span></a>
            </div>

            <%= file_field_tag :picture, type: :file, class: "display-none", id: "lefile", onchange: "addAvatar(this, '#user-form-pic')" %>
            <%= link_to "crop" , 'crop' %>
            <div id="crop-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                 <%= render 'crop' %>
            </div>

                <%= f.label :email %><br>
                <%= f.text_field :email %>

                <%= f.label :password %>
                <%= f.password_field :password %>

                <%= f.label :password_confirmation, "Confirm Password" %>
                <%= f.password_field :password_confirmation %><br>

            <div class="form-btns">
                <%= f.submit "Save", class: "btn btn-lg btn-primary btn-danger" %>
                <%= link_to "Cancel", :back, class: "btn btn-primary btn-danger" %>
            </div>
        <% end %>
    </div>
</div>
