<% if signed_in? %>
    <div class="row">
        <div class="span4">

            <div class="user-info">
                <div class="topframe">
                </div>
                <div class="profile_container">
                    <%= render 'shared/user_info' %>
                </div>
            </div>
            <section class=" game-table">
                <%= render 'game_table' %>
            </section>
        </div>
        <div class="span8">
            <%= render 'shared/feed' %>
        </div>
    </div>
<% else %>


<div class="center hero-unit">
    <h1>Welcome to ManPoints</h1>

    <h2>
        Legends live here.
    </h2>

    <%= link_to "Sign up now!", 'users/new', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

<% end %>