<%= form_for(current_user.userposts.build, remote: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
        <%= f.text_area :data, placeholder: "What's happening" %>
    </div>
    <%= hidden_field :game, :id%>
    <%= f.submit "Post", class: "btn btn-small btn-primary" %>
<% end %>