<div class="profile_avatar">
    <%= link_to gravatar_for(current_user, size: 60), current_user %>
</div>
<div class="profile_name">
    <h1>
        <%= link_to current_user.name, current_user %>
    </h1>
</div>
<div class="profile_stats">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td> <%= link_to "leagues:", leagues_path %> </td>
                <td> votes created: </td>
                <td> open votes: </td>
            </tr>
            <tr>
                <td> <%= 0 %></td>
                <td> <%= current_user.game_events.count %> </td>
                <td> <%= current_user.open_votes %> </td>
            </tr>
        </tbody>

    </table>

</div>
