<div class="profile_avatar">
    <%= link_to gravatar_for(current_user, size: 60), current_user %>
</div>
<div class="profile_name">
    <h1>
        <%= current_user.name %>
    </h1>
</div>
<div class="profile_stats">

<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.games.count, "game") %>
    <p>votes created: <%= current_user.game_events.count %></p>
  <p>votes to cast:  <%= current_user.open_votes %></p>

</span>

</div>
