
<div class="topframe-user">
</div>
<div class="profile_container">

<div class="profile_avatar">
   <%= image_tag @user.picture.medium_avatar.url.to_s, class: 'user-gravatar' %>
</div>
<div class="profile_name">
    <h1>
        <%= link_to @user.name, @user %>
    </h1>
</div>
<div class="profile_stats">
    <table style="width: 80%;">
        <tbody>
            <tr>
                <td> leagues: </td>
                <td> votes created: </td>
                <td> open votes: </td>
            </tr>
            <tr>
                <td> <%= @user.leagues.count %></td>
                <td> <%= @user.game_events.count %> </td>
                <td> <%= @user.open_votes %> </td>
            </tr>
        </tbody>

    </table>

</div>
</div>
