<div class="userpost-form " id="userpost-form">

    <%= form_for(Userpost.new, html:{ multipart: true, class: 'no-margin no-padding', id: "fileupload"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="userpost-text">
            <%= f.text_area :data, placeholder: "What's happening", style: "border-radius: none;" %>
        </div>
        <div class="userpost-extras">
            <%= f.file_field :picture , class: "display-none", id: "lefile", onchange: "readURL(this)"%>
            <div class="post-picture">
                <img id="img_prev" src="#" alt="your image" style="display: none" />
                <div class="center"> <%= link_to "X", "#", onclick: "removePhoto()", class: "img_prev_del" %> </div>
            </div>

        </div>
        <div class="input-append">
            <a class="btn btn-small" onclick="$('#userpost-form').find('input[id=lefile]').click();"> Add Photo <i class="icon-camera"></i></a>
        </div>

        <%= hidden_field :game, :id %>
        <%= f.submit "Post", class: "btn btn-small btn-primary btn-danger btn-right", id: "userpost-btn" %>

        <% end %>

    <script>
        $("#userpost_data").autogrow();
    </script>

</div>