<div class="profile_avatar">
    <%= link_to gravatar_for(current_user, size: 60), current_user %>
</div>
<div class="profile_name">
    <h1>
        <%= link_to current_user.name, current_user %>
    </h1>
</div>
<div class="profile_stats">
<ul>
    <li><%= link_to "leagues" , leagues_path %> </li>
    <li> votes created: <%= current_user.game_events.count %></li>
    <li> open votes:  <%= current_user.open_votes %></li>
</ul>

</div>
