<div class="userpost-form " id="userpost-form">

    <%= form_for(Userpost.new, html:{ multipart: true, class: 'no-margin no-padding', id: "fileupload"}) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="userpost-text">
            <%= f.text_area :data, placeholder: "What's happening", style: "border-radius: none;" %>
        </div>
        <div class="post-extras">
            <%= file_field_tag :picture , class: "display-none", id: "lefile", onchange: "addPhoto(this, '#userpost-form')"%>

            <div class="post-picture">
                <img id="img_prev" src="#dummy" alt="your image" style="display: none" />
                <div class="center"> <%= link_to "X", "#", onclick: "removePhoto()", class: "img_prev_del" %> </div>
            </div>

        </div>
        <div class="form-btns">
            <a class="btn btn-sm btn-primary btn-danger" onclick="$('#userpost-form').find('input[id=lefile]').click();"> Add Photo <span class="glyphicon glyphicon-camera"></span></a>
            <%= f.submit "Post", class: "btn btn-sm btn-primary btn-danger btn-right", id: "userpost-btn" %>
        </div>


        <%= hidden_field :game, :id %>

        <% end %>

    <script>
        $("#userpost_data").autogrow();
    </script>

</div>