<div class="row">
    <div class="span12  ">
        <div class="game-form" >

            <h1>Create New Game </h1>

            <p> * Required field </p>

            <%= form_for([@game.league, @game]) do |f| %>
                <% if @game.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

                        <ul>
                            <% @game.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>


                <%= f.label :name, "*Name" %>
                <%= f.text_field :name %>

                <%= f.label :motto %>
                <%= f.text_field :motto %>

                <div class="input-append date-input ">


                    <div class="end-date ">
                        <span><%= f.label :end_date, "End Date (Optional) - The game will end at this date." %></span>
                        <%= f.text_field :end_date, 'data-behaviour' => 'datepicker', :class => "datepicker", :size => "16" %>
                        <span class="add-on datepicker-icon" data-behaviour="datepicker"><i data-behaviour="datepicker" class="icon-calendar"></i> </span>
                    </div>

                </div>

                <span><%= f.label :score_cap , "Score Cap (Optional) - The first user to reach this score will win the game, and the game will end."%> </span>
                <%= f.text_field :score_cap %>

                <div >
                    <span><%= f.label :point_tiers, "Fixed point system (Optional) - This will make +/- 5 the greatest point value for a single vote." %> </span>
                    <div>
                        <span>Fixed Scoring</span>
                        <%= radio_button :game, :point_tiers, 'point tiers', :checked => true %>
                    </div>
                    <div>
                        <span>Free Scoring </span>
                        <%= radio_button :game, :point_tiers, 'free scoring' %>
                    </div>
                </div>


                <%= f.submit "Create game", class: "btn btn-large btn-primary btn-danger block padding-top" %>
            <% end %>

        </div>
    </div>

</div>
