
<div class="row">
    <div class="span6 offset3">

        <%= form_for([@game.league, @game]) do |f| %>
            <% if @game.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

                    <ul>
                        <% @game.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>

            <p>
                <%= f.label :name %><br>
                <%= f.text_field :name %>
            </p>
            <p>
                <%= f.label :motto %><br>
                <%= f.text_field :motto %>
            </p>

            <p>
                <%= f.label :start_date %>
                <%= f.date_select :start_date%>
            </p>

            <p>
                <%= f.label :end_date %>
                <%= f.date_select :end_date%><br>
            </p>


            <%= f.submit "Create game", class: "btn btn-large btn-primary" %>
        <% end %>

    </div>
</div>

