<div class="vote-form">

    <%= form_for ([@game, @game_event]) do |f| %>

        <% if @game_event.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@game_event.errors.count, "error") %> prohibited this event from being saved:</h2>

                <ul>
                    <% @game_event.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>


        <p>
            <%= f.label :target_user_id %>
            <%= f.collection_select :target_user_id, @users, :id, :name,{}, {:class => "no-margin"} %>

            <%= f.label "points to +/-" %>
            <%= f.text_field :point_value, class: "no-margin" %>

            <%= f.label "reason for the points" %>
            <%= f.text_field :data, class: "no-margin" %>

            <%= f.hidden_field :game_id, :value => @game.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
        </p>

        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
    <% end %>


</div>