<div class="vote-form">

    <%= form_for([@game, @game_event], html:{ multipart: true, class: 'no-margin no-padding', id: "fileupload"}) do |f| %>

        <h4>Start a new vote:</h4>

        <% if @game_event.errors.any? %>
            <div id="error_explanation">
                <h5><%= pluralize(@game_event.errors.count, "error") %> prohibited this event from being saved:</h5>

                <ul>
                    <% @game_event.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <span>

            <div class="input-half">
                <%= f.label :target_user_id %>
                <%= f.collection_select :target_user_id, @users, :id, :name, {}, {:class => "no-margin"} %>
            </div>

            <div class="input-half">

                <% if @game.point_tiers == 1 %>
                    <%= f.label "points to +/-" %>
                    <%= f.text_field :point_value, class: "no-margin" %>
                <% else %>
                    <%= f.label "points to +/-" %>
                    <%= f.select :point_value, [['5', 5], ['4', 4], ['3', 3], ['2', 2], ['1', 1], ['-1', -1] , ['-2', -2], ['-3', -3], ['-4', -4], ['-5', -5]], selected: 1, class: "no-margin" %>
                <% end %>
            </div>
            <div style="clear: both"></div>

            <%= f.label "reason for the points" %>
            <%= f.text_area :data, class: "no-margin", rows: 3 %>

            <div class="post-extras">
                <%= file_field_tag :picture , class: "display-none", id: "lefile", onchange: "readURL(this)"%>
                <div class="post-picture">
                    <img id="img_prev" src="#" alt="your image" style="display: none" />
                    <div class="center"> <%= link_to "X", "#", onclick: "removePhoto()", class: "img_prev_del" %> </div>
                </div>

            </div>
            <div class="form-btns">
                <%= f.submit "Create vote", class: "btn btn-sm btn-primary btn-danger  " %>

            </div>

        </span>

        <%= f.hidden_field :game_id, :value => @game.id %>
        <%= f.hidden_field :user_id, :value => current_user.id %>

        <% if flash[:alert] %>
            <div id="error_explanation"><%= flash[:alert] %></div>
        <% end %>
    <% end %>


</div>