    <div class="row">
        <div class="span6 offset3">
            <h1> Add new user to <%= @game.name%> </h1>

            <% if flash[:alert] %>
                <div id="error_explanation"><%= flash[:alert] %></div>
            <% end %>

            <%= form_tag add_user_save_path do %>

                <p>
                    <%= label_tag "User email" %><br>
                    <%= text_field_tag :email %>
                </p>

                <%= submit_tag "Add user", class: "btn btn-large btn-primary" %>
            <% end %>

        </div>
    </div>
