<% if signed_in? %>
    <div class="game-header">
        <h1 class="no-margin"> <%= link_to @game.league.name, @game.league %> >> <%= @game.name %> </h1>
    </div>

    <div class="row">
        <aside class="span5">
            <%= render 'points_table' %>

            <%= render 'game_settings' %>

            <%= link_to 'Edit game settings', edit_game_path, class:  "btn btn-small btn-primary btn-danger " %>
            <%= link_to 'end this game', @game, method: :delete,
                        data: {confirm: "You sure?"},
                        title: @game.name,
                        class: "btn btn-small btn-primary btn-danger"%>
        </aside>
        <div class="span6">

            <section class="status-content">
                <div class="userpost-form feed-left" id="userpost-form">
                    <%= render 'shared/userpost_form' %>
                </div>
            </section>

            <div class="feed feed-left feed-top" id="feed">
                <%= render 'shared/feed' %>


            </div>

        </div>
        <div class="span4">

            <p class="no-margin">Votes Pending</p>

            <%= render 'event_vote/vote_table' %>

            <%= render 'vote_form' %>


        </div>
    </div>

<% end %>
