<% if signed_in? %>
    <h1> <%= @game.name %> </h1>
    <h2> <%= link_to @game.league.name, @game.league %> </h2>
    <div class="row">
        <aside class="span5">
            <%= render 'points_table' %>
        </aside>
        <div class="span5">

            <section class="status-content">
                <%= render 'shared/userpost_form' %>
            </section>

            <div class="feed feed-left feed-top" id="feed">
                <%= render 'shared/feed' %>
            </div>

        </div>
        <div class="span4">


            <%= render 'event_vote/vote_table' %>

            <%= render 'vote_form' %>


        </div>
    </div>

<% end %>
