<% if signed_in? %>
    <div class="game-header">
        <h1 class="no-margin"> <%= link_to @game.league.name, @game.league %> >> <%= @game.name %>
            <% unless @game.active %> (Inactive)
            <% end %>
        </h1>
    </div>

    <div class="row">
        <aside class="col-md-5">
            <%= render 'points_table' %>

            <%= render 'event_votes/vote_section' %>

            <% if @game.active %>
                <%= link_to 'View game settings', game_settings_game_path, {:remote => true, 'data-toggle' => 'modal', 'data-target' => '#settings-window', class: "btn btn-sm btn-primary btn-danger "} %>
                <div id="settings-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                        </div>
                    </div>
                </div>
            <% end %>

        </aside>
        <div class="col-md-7">
            <% if @game.active %>

                <ul class=" nav nav-tabs nav-posts">
                    <li role="presentation" class="active" id="post-tab"><%= link_to "Post", ajax_userpost_form_path, remote: true %></li>
                    <li role="presentation" class="inactive" id="event-tab"><%= link_to "Create Vote", ajax_vote_form_path(modal: "false"), remote: true %></li>
                </ul>

                <div class="status-content">

                    <div class="userpost-form " id="userpost-form">
                        <%= render 'shared/userpost_form' %>
                    </div>
                </div>
            <% end %>

            <div class="" id="feed">
                <%= render 'shared/feed' %>
            </div>
        </div>
    </div>

<% end %>
