<% if signed_in? %>
    <div class="game-header">
        <h1> <%= @game.name %> </h1>
        <h2> <%= link_to @game.league.name, @game.league %> </h2>
    </div>

    <div class="row">
        <aside class="span5">
            <%= render 'points_table' %>
        </aside>
        <div class="span6">

            <section class="status-content">
                <div class="userpost-form feed-left" id="userpost-form">
                    <%= render 'shared/userpost_form' %>
                </div>
            </section>

            <div class="feed feed-left feed-top" id="feed">
                <%= render 'shared/feed' %>


            </div>

        </div>
        <div class="span4">


            <%= render 'event_vote/vote_table' %>

            <%= render 'vote_form' %>


        </div>
    </div>

<% end %>
