<% if signed_in? %>
    <div class="game-header">
        <h1 class="no-margin"> <%= link_to @game.league.name, @game.league %> >> <%= @game.name %>
            <% if !@game.active %> (Inactive)
            <% end %>
        </h1>
    </div>

    <div class="row">
        <aside class="span6">
            <%= render 'points_table' %>

            <%= render 'event_vote/vote_section' %>

            <% if @game.active %>
                <%= link_to 'View game settings', game_settings_game_path , {:remote => true, 'data-toggle' => "modal", 'data-target' => '#settings-window', class: "btn btn-small btn-primary btn-danger "} %>
                <div id="settings-window" class="modal hide fade" role="dialog" aria-labelledby="settingsWindow" aria-hidden="true"></div>
            <% end %>

        </aside>
        <div class="span8">

            <ul class=" nav nav-tabs nav-posts">
                <li role="presentation" class="active" id="post-tab"><%= link_to "Post", ajax_userpost_form_path, remote: true %></li>
                <li role="presentation" class="inactive" id="event-tab"><%= link_to "Create Vote", ajax_vote_form_path, remote: true %></li>
            </ul>

            <div class="status-content">
                <% if @game.active %>

                    <div class="userpost-form " id="userpost-form">
                        <%= render 'shared/userpost_form' %>
                    </div>
                <% end %>
                </div>

            <div class="" id="feed">
                <%= render 'shared/feed' %>
            </div>
        </div>
    </div>

<% end %>
