<% if signed_in? %>
    <h1> <%= @game.name %> </h1>
    <h2> <%= link_to @game.league.name, @game.league %> </h2>
    <div class="row">
        <aside class="span5">
            <%= render 'points_table' %>
        </aside>
        <div class="span5">

            <section class="feed">
                <%= render 'shared/userpost_form' %>
            </section>

                <%= render 'shared/feed' %>

        </div>
        <div class="span4">

            <%= render 'vote_form' %>

            <%= render 'event_vote/vote_table' %>

        </div>
    </div>



<% end %>
