<% if signed_in? %>
    <div class="game-header">
        <h1 class="no-margin"> <%= link_to @game.league.name, @game.league %> >> <%= @game.name %>
            <% if !@game.active %> (Inactive)
            <% end %>
        </h1>
    </div>

    <div class="row">
        <aside class="span5">
            <%= render 'points_table' %>

            <%= render 'game_settings' %>

            <% if @game.active %>

                <%= link_to 'Edit game settings', edit_game_path, class: "btn btn-small btn-primary btn-danger " %>
                <%= link_to "End this game", end_game_path, {:remote => true, 'data-toggle' => "modal", 'data-target' => '#modal-window', class: "btn btn-small btn-primary btn-danger"} %>
            <% end %>

            <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>

        </aside>
        <div class="span6">

            <section class="status-content">
                <% if @game.active %>

                    <div class="userpost-form " id="userpost-form">
                        <%= render 'shared/userpost_form' %>
                    </div>
                <% end %>
            </section>

            <div class="" id="feed">
                <%= render 'shared/feed' %>

            </div>

        </div>
        <div class="span4">

            <p class="no-margin">Votes Pending</p>

            <%= render 'event_vote/vote_table' %>
            <div class="no-margin padding-bottom">
                <p>Show vote history <%= link_to 'On', show_events_history_path(on_off: 1), remote: true %>
                    | <%= link_to 'Off', show_events_history_path(on_off: 0), remote: true %></p>
            </div>
            <% if @game.active %>

                <%= render 'vote_form' %>
            <% end %>


        </div>
    </div>

<% end %>
