<div class="modal-body ">
    <div class="row">
        <div class="col-md-8 modal-image">
            <%= image_tag @userpost.photo.picture.url.to_s, {class: "img-responsive"} %>

        </div>
        <div class="col-md-4 modal-meta">
            <div class="modal-meta-top">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <div>


                <div class="img-poster clearfix">
                    <%= link_to avatar_for(@userpost.user, 'medium', nil, nil, nil), @userpost.user %>
                    <strong><%= link_to @userpost.user.name, @userpost.user %></strong>
                    <span><%= time_ago_in_words @userpost.created_at %> ago</span>
                </div>
                <div class="post-content">
                    <%= @userpost.data %>
                </div>
                </div>
                <%= render 'comments/comment_list', {comments: @userpost.comments.reverse, userpost: @userpost} %>
            </div>
        </div>
    </div>
</div>
