<div class="feed-post-wrapper" id="userpost_<%= feed_item.id %>">
    <div class="feed-post-inner">
        <div>
            <%= link_to avatar_for(feed_item.user, 'small', 'userpost-gravatar', "45", nil), feed_item.user %>
        </div>
        <div class="feed-item-header">
            <%= link_to feed_item.user.name, feed_item.user %>
        </div>
        <div class="feed-item-content">
            <% if feed_item.photo.present? %>
                <div class="feed-item-attachment">
                    <%= link_to (image_tag feed_item.photo.picture.url.to_s), ajax_view_post_photo_url(feed_item), {class: "attachment-wrapper", remote: true, 'data-toggle' => 'modal', 'data-target' => '#photo-lightbox'} %>
                    <div id="photo-lightbox" class="modal fade" role="img" aria-labelledby="photoLightbox" aria-hidden="true">
                        <div class=" img-modal">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                </div>
                                <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                        </div>
                    </div>
                </div>
                <p class="image-caption"><%= feed_item.data %></p>

            <% else %>
                <p class="feed-item-text"><%= feed_item.data %></p>
            <% end %>
        </div>

        <div class="feed-item-footer">
            <p class="feed-item-text inline">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</p>

            <div class="inline">
                <% if current_user?(feed_item.user) %>
                    <%= link_to "", feed_item, method: :delete,
                                data: {confirm: "You sure?"},
                                title: "delete post",
                                class: "glyphicon glyphicon-trash feed-item-link" %>
                <% end %>

                <span class=" feed-item-link" id="dislike_count"> <%= feed_item.negative_likes %></span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>
                <span class=" feed-item-link" id="like_count"><%= feed_item.positive_likes %>  </span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>
                <span class=" feed-item-link" id="comment_count"><%= feed_item.comments.count %>  </span><span class="glyphicon glyphicon-comment feed-item-link"></span>
                <span id="like_links">
                    <% if has_liked_userpost(feed_item) %>
                         <%= has_liked_link %>
                    <% else %>
                       <%= link_to "Dislike", likes_path(like: 0, userpost_id: feed_item.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "dislike_link" %>
                       <%= link_to "Like", likes_path(like: 1, userpost_id: feed_item.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "like_link" %>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
    <%= render 'comments/comment_list', {comments: feed_item.comments.reverse, userpost: feed_item, modal: false} %>
</div>