<li id="userpost_<%= feed_item.id %>">
    <div>
        <%= link_to avatar_for(feed_item.user, 'small', 'userpost-gravatar', "45", nil), feed_item.user %>
    </div>
    <div class="feed-item-header">
        <p class="feed-item-text">
            <%= link_to feed_item.target_user.name, feed_item.target_user%> has received <%= feed_item.points %> points from <%= link_to feed_item.user.name + "'s", feed_item.user %> vote
        </p>
    </div>

    <div class="feed-item-footer">
        <p class="feed-item-text inline">Posted <%= time_ago_in_words(feed_item.created_at) %> ago.</p>

        <div class="inline">


            <% if current_user?(feed_item.user) %>
                <%= link_to "", feed_item, method: :delete,
                            data: {confirm: "You sure?"},
                            title: "delete post",
                            class: "glyphicon glyphicon-trash feed-item-link" %>
            <% end %>


            <span class=" feed-item-link" id="dislike_count"> <%= feed_item.negative_likes %></span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>
            <span class=" feed-item-link" id="like_count"><%= feed_item.positive_likes %>  </span><span class="glyphicon glyphicon-thumbs-up feed-item-link"></span>
            <span class=" feed-item-link" id="comment_count"><%= feed_item.comments.count%>  </span><span class="glyphicon glyphicon-comment feed-item-link"></span>


                    <span id="like_links">
                        <% if has_liked_userpost(feed_item) %>
                            <%= has_liked_link %>
                        <% else %>
                            <%= link_to "Dislike", likes_path(like: 0, userpost_id: feed_item.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "dislike_link" %>

                            <%= link_to "Like", likes_path(like: 1, userpost_id: feed_item.id, user_id: current_user.id), method: :post, remote: true, class: "feed-item-link", id: "like_link" %>
                        <% end %>
                    </span>

        </div>
    </div>

    <%= render 'comments/comment_list', {comments:  feed_item.comments.reverse, userpost: feed_item, modal: false} %>

</li>